<a href="<%=button_link%>" class="text-center w-1/2 bg-<%=background_color%> hover:bg-blue text-blue-dark font-semibold hover:text-white text-<%=text_color%> py-2 px-4 border border-blue hover:bg-blue-700 rounded <%=extra_classes%>">
    <%= button_text %>
</a>