<%= content_for :title, "Manage Your Listings & Inquries | VenueHub" %>
<section class="text-gray-600 body-font">
  <h2 class="text-3xl text-center font-bold py-6">Manage Your Listings</h2>
  <div class="py-8 mx-auto max-w-[1300px]">
    <div class="flex flex-wrap -m-4 justify-center">
      <% if @spaces.any? %>
        <%@spaces.each do |space| %>
          <div class="listing p-2 md:w-1/3 cursor-pointer">
            <div class="h-full relative border-2 border-gray-200 rounded-lg shadow-md hover:shadow-xl border-opacity-60">
              <a>
                <!-- Slides -->
                <div id="carousel-<%= space.id %>" class="relative flex overflow-hidden h-56">
                  <% if space.images.attached? %>
                  <% space.images.each do |image| %>
                  <img src="<%= url_for(image) %>" class="w-full object-cover hidden carousel-image" alt="Space Image">
                  <% end %>
                  <% else %>
                  <p>No images available</p>
                  <% end %>

                  <!-- Navigation Buttons -->
                  <button id="prevSlide" class="outline-none absolute left-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">‹</button>
                  <button id="nextSlide" class="outline-none absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">›</button>
                </div>
              </a>
              <div class="p-6">
                <span class="listing_details flex justify-between">
                  <a href="<%=space_path(space)%>">
                    <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font"><%=space.name%></h2>
                  </a>
                  <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font">$<%=space.per_hour%>/hr</h2>
                </span>
                <span class="listing_further_details flex justify-between mb-3 flex-col items-start">
                  <span class="listing_location flex items-center justify-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                    </svg>
                    <h2 class="listing_title font-medium text-gray-900 font-bold"><%=space.location%></h2>
                  </span>
                  <span class="listing_other_details flex items-center justify-center gap-2">
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                      </svg>
                      <p class="text-gray-900"><%=space.capacity%> ppl</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2.75 9a.75.75 0 0 1 .75.75v1.69l2.22-2.22a.75.75 0 0 1 1.06 1.06L4.56 12.5h1.69a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75v-3.5A.75.75 0 0 1 2.75 9ZM2.75 7a.75.75 0 0 0 .75-.75V4.56l2.22 2.22a.75.75 0 0 0 1.06-1.06L4.56 3.5h1.69a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0-.75.75v3.5c0 .414.336.75.75.75ZM13.25 9a.75.75 0 0 0-.75.75v1.69l-2.22-2.22a.75.75 0 1 0-1.06 1.06l2.22 2.22H9.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 .75-.75v-3.5a.75.75 0 0 0-.75-.75ZM13.25 7a.75.75 0 0 1-.75-.75V4.56l-2.22 2.22a.75.75 0 1 1-1.06-1.06l2.22-2.22H9.75a.75.75 0 0 1 0-1.5h3.5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-.75.75Z" clip-rule="evenodd" />
                      </svg>
                      <p class="text-gray-900"><%=space.area%> sf</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M3.75 2a.75.75 0 0 0-.75.75v10.5a.75.75 0 0 0 1.28.53L8 10.06l3.72 3.72a.75.75 0 0 0 1.28-.53V2.75a.75.75 0 0 0-.75-.75h-8.5Z" />
                      </svg>
                      <p class="text-gray-900">Book a tour</p>
                    </span>

                    
                    </span>
                    </span>
                    
                    <span class="listing_actions flex justify-between w-full gap-2 my-2">
                    <%= render 'components/button', button_link: space_path(space.slug), text_color: 'black', background_color: 'transparent', button_text: 'View Space', extra_classes: ''%>
                    <%= render 'components/button', button_link: inquire_space_path(space), text_color: 'black', background_color: 'transparent', button_text: 'Inquire', extra_classes: ''%>
                    </span>

                    <!---- Venue Admin Actions --->
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="inline-flex items-center justify-center bg-gray-200 box-border border border-transparent shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full" type="button">
                      Actions 
                      <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/></svg>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-gray-50 border border-default-medium rounded-base shadow-lg w-1/3">
                        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="dropdownDefaultButton">
                          <li>
                            <%= link_to "Edit Listing", edit_space_path(space), class: "inline-flex items-center w-full p-2 hover:bg-gray-200 hover:text-heading rounded" %>
                          </li>
                          <li>
                            <%= link_to "Delete Listing", space_path(space), data: {turbo_method: :delete}, class: "inline-flex items-center w-full p-2 hover:bg-gray-200 hover:text-heading rounded" %>
                          </li>
                        </ul>
                      </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <span>We have no venues listed at this moment!</span>
      <% end %>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <h2 class="text-3xl text-center font-bold py-6">Manage Inquries</h2>
  <div class="py-8 mx-auto max-w-[1300px]">
    <div class="flex flex-wrap -m-4 justify-center">
      <% if @spaces.any? %>
        <%@spaces.each do |space| %>
          <div class="listing p-2 md:w-1/3 cursor-pointer">
            <div class="h-full overflow-hidden border-2 border-gray-200 rounded-lg shadow-md hover:shadow-xl border-opacity-60">
              <a>
                <!-- Slides -->
                <div id="carousel-<%= space.id %>" class="relative flex overflow-hidden h-56">
                  <% if space.images.attached? %>
                  <% space.images.each do |image| %>
                  <img src="<%= url_for(image) %>" class="w-full object-cover hidden carousel-image" alt="Space Image">
                  <% end %>
                  <% else %>
                  <p>No images available</p>
                  <% end %>

                  <!-- Navigation Buttons -->
                  <button id="prevSlide" class="outline-none absolute left-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">‹</button>
                  <button id="nextSlide" class="outline-none absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">›</button>
                </div>
              </a>
              <div class="p-6">
                <span class="listing_details flex justify-between">
                  <a href="<%=space_path(space)%>">
                    <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font"><%=space.name%></h2>
                  </a>
                  <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font">$<%=space.per_hour%>/hr</h2>
                </span>
                <span class="listing_further_details flex justify-between mb-3 flex-col items-start">
                  <span class="listing_location flex items-center justify-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                    </svg>
                    <h2 class="listing_title font-medium text-gray-900 font-bold"><%=space.location%></h2>
                  </span>
                  <span class="listing_other_details flex items-center justify-center gap-2">
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                      </svg>
                      <p class="text-gray-900"><%=space.capacity%> ppl</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2.75 9a.75.75 0 0 1 .75.75v1.69l2.22-2.22a.75.75 0 0 1 1.06 1.06L4.56 12.5h1.69a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75v-3.5A.75.75 0 0 1 2.75 9ZM2.75 7a.75.75 0 0 0 .75-.75V4.56l2.22 2.22a.75.75 0 0 0 1.06-1.06L4.56 3.5h1.69a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0-.75.75v3.5c0 .414.336.75.75.75ZM13.25 9a.75.75 0 0 0-.75.75v1.69l-2.22-2.22a.75.75 0 1 0-1.06 1.06l2.22 2.22H9.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 .75-.75v-3.5a.75.75 0 0 0-.75-.75ZM13.25 7a.75.75 0 0 1-.75-.75V4.56l-2.22 2.22a.75.75 0 1 1-1.06-1.06l2.22-2.22H9.75a.75.75 0 0 1 0-1.5h3.5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-.75.75Z" clip-rule="evenodd" />
                      </svg>
                      <p class="text-gray-900"><%=space.area%> sf</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M3.75 2a.75.75 0 0 0-.75.75v10.5a.75.75 0 0 0 1.28.53L8 10.06l3.72 3.72a.75.75 0 0 0 1.28-.53V2.75a.75.75 0 0 0-.75-.75h-8.5Z" />
                      </svg>
                      <p class="text-gray-900">Book a tour</p>
                    </span>
                  </span>
                </span>

                <span class="listing_actions flex justify-between w-full gap-2 my-2">
                  <%= render 'components/button', button_link: space_path(space.slug), text_color: 'black', background_color: 'transparent', button_text: 'View Space', extra_classes: ''%>
                  <%= render 'components/button', button_link: inquire_space_path(space), text_color: 'black', background_color: 'transparent', button_text: 'Inquire', extra_classes: ''%>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <span>We have no venues listed at this moment!</span>
      <% end %>
    </div>
  </div>
</section>