<% content_for :title, "VenueHub | Find the Perfect Event Space" %>
<% content_for :description, "Browse and book the ideal venue for weddings, parties, conferences, and more. Discover unique venues with easy booking on our Event Spaces app." %>

<section class="hidden md:block py-4 w-full">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

    <div class="text-center p-6 rounded-lg bg-gray-100">
      <h5 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Browse Venues</h5>
      <p class="text-gray-700">
        Find venues for weddings, parties, and meetings in one place.
      </p>
    </div>

    <div class="text-center p-6 rounded-lg bg-gray-100">
      <h5 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Book Spaces</h5>
      <p class="text-gray-700">
        Book event spaces easily with no hidden fees or extra charges.
      </p>
    </div>

    <div class="text-center p-6 rounded-lg bg-gray-100">
      <h5 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">List Your Space</h5>
      <p class="text-gray-700">
        List your venue and start earning by showcasing it to planners.
      </p>
    </div>

    <div class="text-center p-6 rounded-lg bg-gray-100">
      <h5 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Plan Events</h5>
      <p class="text-gray-700">
        Manage bookings, check availability, and organize events with ease.
      </p>
    </div>
  </div>
</section>

<section class="py-4 w-full">

  <form class="w-full md:max-w-[60%] mx-auto flex gap-4">
    <select id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Location</option>
      <option value="90" data-label="Manhattan" data-counter-prefix="" data-counter-suffix="">Manhattan</option>
      <option value="98" data-label="Manhattan, Midtown" data-counter-prefix="" data-counter-suffix="">Manhattan, Midtown</option>
      <option value="168" data-label="Manhattan, Times Square" data-counter-prefix="" data-counter-suffix="">Manhattan, Times Square</option>
      <option value="110" data-label="Manhattan, Midtown West" data-counter-prefix="" data-counter-suffix="">Manhattan, Midtown West</option>
      <option value="114" data-label="Manhattan, Midtown East" data-counter-prefix="" data-counter-suffix="">Manhattan, Midtown East</option>
      <option value="99" data-label="Manhattan, Union Square" data-counter-prefix="" data-counter-suffix="">Manhattan, Union Square</option>
      <option value="100" data-label="Manhattan, Chelsea" data-counter-prefix="" data-counter-suffix="">Manhattan, Chelsea</option>
      <option value="124" data-label="Manhattan, Flatiron" data-counter-prefix="" data-counter-suffix="">Manhattan, Flatiron</option>
      <option value="171" data-label="Midtown, Gramercy" data-counter-prefix="" data-counter-suffix="">Midtown, Gramercy</option>
      <option value="102" data-label="Manhattan, Nomad" data-counter-prefix="" data-counter-suffix="">Manhattan, Nomad</option>
      <option value="107" data-label="Manhattan, Soho" data-counter-prefix="" data-counter-suffix="">Manhattan, Soho</option>
      <option value="103" data-label="Manhattan, Noho" data-counter-prefix="" data-counter-suffix="">Manhattan, Noho</option>
      <option value="104" data-label="Manhattan, Tribeca" data-counter-prefix="" data-counter-suffix="">Manhattan, Tribeca</option>
      <option value="173" data-label="Manhattan, West Village" data-counter-prefix="" data-counter-suffix="">Manhattan, West Village</option>
      <option value="177" data-label="Manhattan, Dimes Square" data-counter-prefix="" data-counter-suffix="">Manhattan, Dimes Square</option>
      <option value="183" data-label="Manhattan, Grand Central" data-counter-prefix="" data-counter-suffix="">Manhattan, Grand Central</option>
      <option value="185" data-label="Manhattan, Financial District" data-counter-prefix="" data-counter-suffix="">Manhattan, Financial District</option>
      <option value="182" data-label="Manhattan, Nolita" data-counter-prefix="" data-counter-suffix="">Manhattan, Nolita</option>
      <option value="108" data-label="Manhattan, Meatpacking" data-counter-prefix="" data-counter-suffix="">Manhattan, Meatpacking</option>
      <option value="109" data-label="Manhattan, Lower Manhattan" data-counter-prefix="" data-counter-suffix="">Manhattan, Lower Manhattan</option>
      <option value="165" data-label="Manhattan, Hudson Square" data-counter-prefix="" data-counter-suffix="">Manhattan, Hudson Square</option>
      <option value="113" data-label="Manhattan, Lower East Side" data-counter-prefix="" data-counter-suffix="">Manhattan, Lower East Side</option>
      <option value="125" data-label="Manhattan, Alphabet city" data-counter-prefix="" data-counter-suffix="">Manhattan, Alphabet city</option>
      <option value="118" data-label="Manhattan, Chinatown" data-counter-prefix="" data-counter-suffix="">Manhattan, Chinatown</option>
      <option value="91" data-label="Brooklyn" data-counter-prefix="" data-counter-suffix="">Brooklyn</option>
      <option value="112" data-label="Brooklyn, Downtown" data-counter-prefix="" data-counter-suffix="">Brooklyn, Downtown</option>
      <option value="101" data-label="Brooklyn, Williamsburg" data-counter-prefix="" data-counter-suffix="">Brooklyn, Williamsburg</option>
      <option value="126" data-label="Brooklyn, East Williamsburg" data-counter-prefix="" data-counter-suffix="">Brooklyn, East Williamsburg</option>
      <option value="106" data-label="Brooklyn, Greenpoint" data-counter-prefix="" data-counter-suffix="">Brooklyn, Greenpoint</option>
      <option value="111" data-label="Brooklyn, Bushwick" data-counter-prefix="" data-counter-suffix="">Brooklyn, Bushwick</option>
      <option value="128" data-label="Brooklyn, Clinton Hill" data-counter-prefix="" data-counter-suffix="">Brooklyn, Clinton Hill</option>
      <option value="169" data-label="Brooklyn, Park Slope" data-counter-prefix="" data-counter-suffix="">Brooklyn, Park Slope</option>
      <option value="120" data-label="Brooklyn, Prospect heights" data-counter-prefix="" data-counter-suffix="">Brooklyn, Prospect heights</option>
      <option value="116" data-label="Brooklyn, Bed-Stuy" data-counter-prefix="" data-counter-suffix="">Brooklyn, Bed-Stuy</option>
      <option value="130" data-label="Brooklyn, Sheepshead Bay" data-counter-prefix="" data-counter-suffix="">Brooklyn, Sheepshead Bay</option>
      <option value="92" data-label="Astoria" data-counter-prefix="" data-counter-suffix="">Astoria</option>
      <option value="192" data-label="Scarsdale, New York" data-counter-prefix="" data-counter-suffix="">Scarsdale, New York</option>
      <option value="131" data-label="Queens" data-counter-prefix="" data-counter-suffix="">Queens</option>
      <option value="95" data-label="New Jersey" data-counter-prefix="" data-counter-suffix="">New Jersey</option>
      <option value="122" data-label="New Jersey, Passaic" data-counter-prefix="" data-counter-suffix="">New Jersey, Passaic</option>
      <option value="97" data-label="Long Island" data-counter-prefix="" data-counter-suffix="">Long Island</option>
      <option value="115" data-label="Long Island, Montauk" data-counter-prefix="" data-counter-suffix="">Long Island, Montauk</option>
      <option value="94" data-label="Montgomery" data-counter-prefix="" data-counter-suffix="">Montgomery</option>
    </select>

    <select id="event" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Event</option>
      <option value="14" data-label="Holiday Party" data-counter-prefix="" data-counter-suffix="">Holiday Party</option>
      <option value="24" data-label="Halloween" data-counter-prefix="" data-counter-suffix="">Halloween</option>
      <option value="25" data-label="Fashion" data-counter-prefix="" data-counter-suffix="">Fashion</option>
      <option value="152" data-label="Cocktail Party" data-counter-prefix="" data-counter-suffix="">Cocktail Party</option>
      <option value="21" data-label="Wedding" data-counter-prefix="" data-counter-suffix="">Wedding</option>
      <option value="13" data-label="Launch Party" data-counter-prefix="" data-counter-suffix="">Launch Party</option>
      <option value="12" data-label="Dinner Party" data-counter-prefix="" data-counter-suffix="">Dinner Party</option>
      <option value="23" data-label="Corporate" data-counter-prefix="" data-counter-suffix="">Corporate</option>
      <option value="18" data-label="Off-site" data-counter-prefix="" data-counter-suffix="">Off-site</option>
      <option value="20" data-label="Workshop" data-counter-prefix="" data-counter-suffix="">Workshop</option>
      <option value="11" data-label="Birthday Party" data-counter-prefix="" data-counter-suffix="">Birthday Party</option>
      <option value="137" data-label="Engagement Party" data-counter-prefix="" data-counter-suffix="">Engagement Party</option>
      <option value="136" data-label="Bridal Shower" data-counter-prefix="" data-counter-suffix="">Bridal Shower</option>
      <option value="17" data-label="Photoshoot" data-counter-prefix="" data-counter-suffix="">Photoshoot</option>
      <option value="10" data-label="Baby Shower" data-counter-prefix="" data-counter-suffix="">Baby Shower</option>
      <option value="15" data-label="Networking" data-counter-prefix="" data-counter-suffix="">Networking</option>
      <option value="16" data-label="Performance" data-counter-prefix="" data-counter-suffix="">Performance</option>
      <option value="19" data-label="Film Shoot" data-counter-prefix="" data-counter-suffix="">Film Shoot</option>
      <option value="157" data-label="Brand Activation" data-counter-prefix="" data-counter-suffix="">Brand Activation</option>
      <option value="160" data-label="Meeting" data-counter-prefix="" data-counter-suffix="">Meeting</option>
      <option value="155" data-label="Bar and Bat Mitsvah" data-counter-prefix="" data-counter-suffix="">Bar and Bat Mitsvah</option>
      <option value="138" data-label="Cooking Class" data-counter-prefix="" data-counter-suffix="">Cooking Class</option>
      <option value="176" data-label="Sweet 16" data-counter-prefix="" data-counter-suffix="">Sweet 16</option>
      <option value="143" data-label="Pop Up Store" data-counter-prefix="" data-counter-suffix="">Pop Up Store</option>
      <option value="159" data-label="Dance Party" data-counter-prefix="" data-counter-suffix="">Dance Party</option>
      <option value="142" data-label="Exhibition" data-counter-prefix="" data-counter-suffix="">Exhibition</option>
      <option value="153" data-label="Concert" data-counter-prefix="" data-counter-suffix="">Concert</option>
      <option value="22" data-label="Yoga And Meditation" data-counter-prefix="" data-counter-suffix="">Yoga And Meditation</option>




    </select>

    <select id="venue" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Venue</option>
      <option value="32" data-label="Private Bar" data-counter-prefix="" data-counter-suffix="">Private Bar</option>
      <option value="26" data-label="Lofts" data-counter-prefix="" data-counter-suffix="">Lofts</option>
      <option value="30" data-label="Penthouses" data-counter-prefix="" data-counter-suffix="">Penthouses</option>
      <option value="28" data-label="Rooftop" data-counter-prefix="" data-counter-suffix="">Rooftop</option>
      <option value="29" data-label="Kitchen" data-counter-prefix="" data-counter-suffix="">Kitchen</option>
      <option value="145" data-label="Storefront" data-counter-prefix="" data-counter-suffix="">Storefront</option>
      <option value="139" data-label="Photo Studio" data-counter-prefix="" data-counter-suffix="">Photo Studio</option>
      <option value="35" data-label="Industrial/Warehouses" data-counter-prefix="" data-counter-suffix="">Industrial/Warehouses</option>
      <option value="151" data-label="Raw Space" data-counter-prefix="" data-counter-suffix="">Raw Space</option>
      <option value="144" data-label="Gallery" data-counter-prefix="" data-counter-suffix="">Gallery</option>
      <option value="27" data-label="Meeting Room" data-counter-prefix="" data-counter-suffix="">Meeting Room</option>
      <option value="31" data-label="Conference Room" data-counter-prefix="" data-counter-suffix="">Conference Room</option>
      <option value="164" data-label="All White Space" data-counter-prefix="" data-counter-suffix="">All White Space</option>
      <option value="140" data-label="Exposed Brick" data-counter-prefix="" data-counter-suffix="">Exposed Brick</option>
      <option value="146" data-label="Immersive/Projection Mapping" data-counter-prefix="" data-counter-suffix="">Immersive/Projection Mapping</option>
      <option value="150" data-label="Residence" data-counter-prefix="" data-counter-suffix="">Residence</option>
      <option value="33" data-label="Small Party Venues" data-counter-prefix="" data-counter-suffix="">Small Party Venues</option>
      <option value="34" data-label="Large Event Spaces" data-counter-prefix="" data-counter-suffix="">Large Event Spaces</option>
      <option value="135" data-label="Event Hall" data-counter-prefix="" data-counter-suffix="">Event Hall</option>
      <option value="134" data-label="Banquet Hall" data-counter-prefix="" data-counter-suffix="">Banquet Hall</option>
      <option value="36" data-label="Theater" data-counter-prefix="" data-counter-suffix="">Theater</option>
      <option value="154" data-label="Concert" data-counter-prefix="" data-counter-suffix="">Concert</option>
      <option value="133" data-label="Outdoor Space" data-counter-prefix="" data-counter-suffix="">Outdoor Space</option>
      <option value="170" data-label="Showroom" data-counter-prefix="" data-counter-suffix="">Showroom</option>
    </select>

  </form>
  <div class="w-full md:max-w-[60%] mx-auto flex justify-between gap-4 py-2">
    <div class="relative w-full text-center">
      <input type="range" value="1500" min="100" max="1500" step="1" class="main_range outline-none w-full h-1 mb-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm">
      <span class="text-sm text-gray-500 font-bold text-center">$50 /hr</span>
      -
      <span class="text-sm text-gray-500 font-bold text-center">$1500 /hr</span>
    </div>
    <div class="relative w-full text-center">
      <input type="range" value="1500" min="100" max="1500" step="1" class="main_range outline-none w-full h-1 mb-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm">
      <span class="text-sm text-gray-500 font-bold text-center">4ppl</span>
      -
      <span class="text-sm text-gray-500 font-bold text-center">500ppl</span>
    </div>
  </div>

</section>

<section class="text-gray-600 body-font">
  <div class="py-8 mx-auto max-w-[1300px]">
    <div class="flex flex-wrap -m-4 justify-center">
      <% if @spaces.any? %>
        <%@spaces.each do |space| %>
          <div class="listing p-2 md:w-1/3 cursor-pointer">
            <div class="h-full overflow-hidden border-2 border-gray-200 rounded-lg shadow-md hover:shadow-xl border-opacity-60">
              <a>
                <!-- Slides -->
                <div id="carousel-<%= space.id %>" class="relative flex overflow-hidden h-56">
                  <% if space.images.attached? %>
                  <% space.images.each do |image| %>
                  <img src="<%= url_for(image) %>" class="w-full object-cover hidden carousel-image" alt="Space Image">
                  <% end %>
                  <% else %>
                  <p>No images available</p>
                  <% end %>

                  <!-- Navigation Buttons -->
                  <button id="prevSlide" class="outline-none absolute left-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">‹</button>
                  <button id="nextSlide" class="outline-none absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white px-3 py-2">›</button>
                </div>
              </a>
              <div class="p-6">
                <span class="listing_details flex justify-between">
                  <a href="<%=space_path(space)%>">
                    <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font"><%=space.name%></h2>
                  </a>
                  <h2 class="listing_title mb-3 text-lg font-medium text-gray-900 title-font">$<%=space.per_hour%>/hr</h2>
                </span>
                <span class="listing_further_details flex justify-between mb-3 flex-col items-start">
                  <span class="listing_location flex items-center justify-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                    </svg>
                    <h2 class="listing_title font-medium text-gray-900 font-bold"><%=space.location%></h2>
                  </span>
                  <span class="listing_other_details flex items-center justify-center gap-2">
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                      </svg>
                      <p class="text-gray-900"><%=space.capacity%> ppl</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2.75 9a.75.75 0 0 1 .75.75v1.69l2.22-2.22a.75.75 0 0 1 1.06 1.06L4.56 12.5h1.69a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75v-3.5A.75.75 0 0 1 2.75 9ZM2.75 7a.75.75 0 0 0 .75-.75V4.56l2.22 2.22a.75.75 0 0 0 1.06-1.06L4.56 3.5h1.69a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0-.75.75v3.5c0 .414.336.75.75.75ZM13.25 9a.75.75 0 0 0-.75.75v1.69l-2.22-2.22a.75.75 0 1 0-1.06 1.06l2.22 2.22H9.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 .75-.75v-3.5a.75.75 0 0 0-.75-.75ZM13.25 7a.75.75 0 0 1-.75-.75V4.56l-2.22 2.22a.75.75 0 1 1-1.06-1.06l2.22-2.22H9.75a.75.75 0 0 1 0-1.5h3.5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-.75.75Z" clip-rule="evenodd" />
                      </svg>
                      <p class="text-gray-900"><%=space.area%> sf</p>
                    </span>
                    <p class="text-gray-400">|</p>
                    <span class="flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M3.75 2a.75.75 0 0 0-.75.75v10.5a.75.75 0 0 0 1.28.53L8 10.06l3.72 3.72a.75.75 0 0 0 1.28-.53V2.75a.75.75 0 0 0-.75-.75h-8.5Z" />
                      </svg>
                      <p class="text-gray-900">Book a tour</p>
                    </span>
                  </span>
                </span>

                <span class="listing_actions flex justify-between w-full gap-2 my-2">
                  <%= render 'components/button', button_link: space_path(space.slug), text_color: 'black', background_color: 'transparent', button_text: 'View Space', extra_classes: ''%>
                  <%= render 'components/button', button_link: inquire_space_path(space), text_color: 'black', background_color: 'transparent', button_text: 'Inquire', extra_classes: ''%>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <span>We have no venues listed at this moment!</span>
      <% end %>
    </div>
  </div>
</section>

<script>
  const carousels = document.querySelectorAll('[id^="carousel-"]');

  carousels.forEach((carousel) => {
    const images = carousel.querySelectorAll('.carousel-image');
    let currentIndex = 0;

    function showImage(index) {
      images.forEach((image, idx) => {
        image.classList.toggle('hidden', idx !== index);
      });
    }

    showImage(currentIndex);

    const prevButton = carousel.querySelector('#prevSlide');
    const nextButton = carousel.querySelector('#nextSlide');

    prevButton.addEventListener('click', function() {
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      showImage(currentIndex);
    });

    nextButton.addEventListener('click', function() {
      currentIndex = (currentIndex + 1) % images.length;
      showImage(currentIndex);
    });
  });

  // Input ranges bg color change
  function updateRangeBackground(inputElement, value) {
    const min = parseInt(inputElement.min);
    const max = parseInt(inputElement.max);
    const percentage = ((value - min) / (max - min)) * 100;

    inputElement.style.background = `linear-gradient(to right,#2563EB ${percentage}%, #E5E7EB ${percentage}%)`;
  }

  const rangeInputs = document.querySelectorAll('.main_range');

  rangeInputs.forEach(input => {
    updateRangeBackground(input, input.value);

    input.addEventListener('input', (e) => {
      updateRangeBackground(e.target, e.target.value);
    });
  });
</script>